/JavaMailServer/nbproject/private/
/JavaMailClient/nbproject/private/
/JavaMailShared/nbproject/private/
/JavaMailClient/build/
/JavaMailClient/dist/
/BerkNerde/nbproject/private/
/JavaMailServer/dist/
/JavaMailServer/build/
JavaMailServer/build/built-jar.properties
JavaMailServer/nbproject/private/private.properties
JavaMailServer/build/built-jar.properties
